[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
alpaca-trade-api = "*"
python-dotenv = "*"
polygon-api-client = "*"
pillow = "*"

[dev-packages]
black = "*"
flake8 = "*"
awsebcli = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
