{%load static%}
<header class="container max-w-full flex items-center justify-between px-6 h-16 border-b border-gray-400 bg-gray-50">
    <div>
        <a href="{% url "core:home" %}" class="mr-6">
            <img class="w-16" src="{% static 'img/logo.webp' %}" />
        </a>
    </div>
    <div>
        <ul class="flex .justify-between text-sm font-medium">
            <li class="ml-8"><a href="#">Login</a></li>
            <li class="ml-8"><a href="#">Logout</a></li>
            <li class="ml-8"><a href="#">Signin</a></li>
        </ul>
    </div>
</header>