{% extends "base.html" %}
{% block title %}
    post
{% endblock %}
{% block content %}
    <section>
        <div class="flex justify-between px-20 py-10">
            <h4 class="text-2xl font-serif font-bold"> Github Calendar</h4>
        </div>
        <script src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"></script>
    
        <!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
        <link
            rel="stylesheet"
            href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"
        />
        
        <div>
            <div class="calendar">
                <!-- Loading stuff -->
                Loading data ...
            </div>
        </div>
        
        <script>
            GitHubCalendar(".calendar", "jiun0507", { responsive: true, tooltips: false, global_stats: false}).then(function() {
                // delete the space underneath the module bar which is caused by minheight 
                document.getElementsByClassName('calendar')[0].style.minHeight = "100px";
                // hide more and less legen below the contribution graph
                document.getElementsByClassName('contrib-legend')[0].style.display = "none";
            });
        </script>
    </section>
    
    <section class="grid grid-cols-2 gap-4 px-20">
        {% for log in logs %}
            <div>
                <div>
                    <h4 class="font-thin font-mono">{{log.updated_at}} by Jiun Kim</h4>
                    <h4 class="text-2xl font-serif font-bold"> {{log.title}} </h4>
                    <h4 class="text-lg font-serif">({{log.category}})</h4>    
                </div>
            </div>
        {% endfor %}
    </section>

{% endblock %}
