{% extends "base.html" %}
{% block title %}
    home
{% endblock %}
{% block content %}
    <section class="w- px-20 py-10">
        <article class="py-10">
            <h1> Which stock do you want to learn about? </h1>
        </article>
    </section>
    <section class="grid grid-cols-2 gap-4 px-20">
        <!-- <article class="flex justify-evenly py-10"> -->
        <div>
            <h4> Valuations</h4>
            {% for financial_statement in financial_statements %}
                <h4>
                    <a href="{% url "financial_statement:financial_statement" financial_statement.id %}">
                        {{financial_statement.id}} {{financial_statement.ticker}} {{financial_statement.period}} {{financial_statement.report_period}}
                    </a>
                </h4>
            {% endfor %}
        </div>
        <div>
            <h4>Financial Statements</h4>
            {% for financial_statement in financial_statements %}
                <h4>
                    <a href="{% url "financial_statement:financial_statement" financial_statement.id %}">
                        {{financial_statement.id}} {{financial_statement.ticker}} {{financial_statement.period}} {{financial_statement.report_period}}
                    </a>
                </h4>
            {% endfor %}
        </div>
        <div>
            <h4> Notification </h4>
            {% for financial_statement in financial_statements %}
                <h4>
                    <a href="{% url "financial_statement:financial_statement" financial_statement.id %}">
                        {{financial_statement.id}} {{financial_statement.ticker}} {{financial_statement.period}} {{financial_statement.report_period}}
                    </a>
                </h4>
            {% endfor %}
        </div>
        <div>
            <h4> Turtles </h4>
            {% for financial_statement in financial_statements %}
                <h4>
                    <a href="{% url "financial_statement:financial_statement" financial_statement.id %}">
                        {{financial_statement.id}} {{financial_statement.ticker}} {{financial_statement.period}} {{financial_statement.report_period}}
                    </a>
                </h4>
            {% endfor %}
        </div>
    </section>

{% endblock %}

